[2013-04-22 14:53] gmazlami opened #1 "Maven Repository seems to be down"
Dear Coder, I enjoy using your qrgen library a lot! Thanks for the work.

Today I wanted to use your library through maven and used the dependencies listed on this page : http://kenglxn.github.io/QRGen/

But the repository seems to be unavailable. There are also other people dealing with this problem on stackoverflow: http://stackoverflow.com/questions/13379372/including-qrgen-in-pom-xml

Would be

[2013-04-24 17:22] #1 closed, assigned to nobody

[2013-04-25 06:18] kenglxn opened #2 "Reported not to work with android"
If this is to work on android, QRGen can not depend on and use classes in the javase part of zxing.
see this related stackoverflow post: http://stackoverflow.com/questions/15221775/error-when-using-qrgen-library-to-generate-qr-code

[2013-07-08 13:37] teemoo7 opened #4 "Charset not specified"
It should be possible to specify the desired charset. I have special chars in the text I use to generate the QRCode and they are badly encoded when I read the genrated QRCode. I would suggest to use UTF-8 by default, to avoid this.

[2013-07-08 19:12] #4 closed, assigned to nobody

[2014-01-05 21:10] travisspencer opened #8 "Copyright holder?"
Hey there,

We have used QRGen in a program we're developing. It's great and we really appreciate you sharing your work. We'd like to attribute your hard work to you by including a copyright notice in our documentation. However, we haven't been able to find one in the source or on the site. Who is the copyright holder and what is the year of the copyright?

Is this right?

Thanks in advance!

[2014-01-08 18:47] #8 closed, assigned to nobody

[2014-03-25 20:12] mathiasp opened #10 "You could add the margin hint"
Since modern readers do not need the 4 block margin, it would be nice to have the margin hint http://zxing.github.io/zxing/apidocs/com/google/zxing/EncodeHintType.html#MARGIN available.

That's pretty much the same as the charset hint. I have done this myself, being a total java noob, but it would be nice to have it in the official version.

Thanks, Mathias

[2014-03-25 21:47] #10 closed, assigned to nobody

[2014-03-26 19:29] kenglxn opened #12 "release 1.4 and update README with new APIs"

[2014-03-28 08:17] #12 closed, assigned to nobody

[2014-04-13 22:24] ingojaeckel opened #13 "QRCode.stream() cannot be used on AppEngine"
Calling QRCode.stream() fails on Google AppEngine. The BufferedImage used by the unterlying zxing library is not whitelisted (see https://developers.google.com/appengine/docs/java/jrewhitelist). As a result, the qrgen library cannot be used in GAE applications at the moment. Are there any plans to change the library so that it can be used on App Engine?

REST-based QR code generators exist. But to

[2014-05-18 10:38] #13 closed, assigned to nobody

[2014-05-18 11:33] kenglxn opened #16 "fix VCard newline and charset"
Come to think of it, the fix in #14 probably is not a good idea, as I believe it would override charset hint if supplied. I also think the VCard should use System.lineSeparator() instead of \n to work properly across platforms.

[2014-05-23 17:53] #16 closed, assigned to nobody

[2014-05-23 18:00] #2 closed, assigned to nobody

[2014-06-29 13:44] alolis opened #19 "Maven is missing v2.0-SNAPSHOT"
Hello,

I think latest version is missing from maven. I can only find 1.4

[2014-07-12 20:16] #19 closed, assigned to nobody

[2014-08-16 22:01] YeeSuannn opened #22 "Generating QR code"
Hi.
I imported android-2.0-20140713.143342-8.jar to my project from "https://oss.sonatype.org/content/repositories/snapshots/net/glxn/qrgen/android/2.0-SNAPSHOT/" and then according to your README.md usage, i wrote this code on my activity:
File file = QRCode.from("Hello World").file();
// override the image type to be JPG
QRCode.from("Hello World").to(ImageType.JPG).file();
QRCode.from("Hello Wor

[2014-08-17 16:26] #22 closed, assigned to nobody

[2014-08-24 18:51] kenglxn opened #28 "Release v 2.0"
I need to get around to doing this soon.
When 2.0 is released, remember to update the Readme as well.

[2014-08-28 21:03] gmarizy opened #29 "Bitmap is the prefered format for android"
It's not a bug but a suggestion. Could QRGen output bitmap in addition of JPG, GIF and PNG ? Android need bitmap format for display. Just an idea, qrgen-android-exemple could change from:

[code]

to:

[code]

Since QRGen already produce the bitmap internally, it will avoid to compress it in PNG, then to put it on a file, then the BitmapFactory thing.

[2014-09-02 07:54] kenglxn opened #32 "add checkstyle plugin"
Create a checkstyle that validates code formatting according to my Intellij IDEA settings

[2014-09-02 14:46] kenglxn opened #34 "organize poms"
make use of dependencyManagement and pluginManagement. All versions should be properties in the parent pom.

[2014-09-14 17:13] #29 closed, assigned to nobody

[2014-09-19 16:08] #34 closed, assigned to nobody

[2014-09-24 23:52] condesales opened #39 "no bitmap() method available"
when trying to use the snippet

[code]

no `bitmap()` method is found

[2014-09-25 11:53] #39 closed, assigned to nobody

[2014-10-10 14:20] sytolk opened #40 "No vector formats available"
no vector graphic formats EPS or SVG available.
I want to have QR image with vector format for better print quality. Something like:
QRCode.from("Hello World").to(ImageType.SVG).withSize(250, 250).file();

[2014-10-14 17:41] #32 closed, assigned to nobody

[2014-11-04 15:09] dupdroid opened #43 "failed to find: net.glxn.qrgen:android:2.0-SNAPSHOT"
Using Android Studio adding

dependencies {
compile ("net.glxn.qrgen:android:2.0-SNAPSHOT")
compile fileTree(dir: 'libs', include: ['*.jar'])
}

to build.gradle.

Error:

failed to find: net.glxn.qrgen:android:2.0-SNAPSHOT

What am I doing wrong? Please help.

[2014-11-06 15:03] #43 closed, assigned to nobody

[2014-11-06 17:05] #28 closed, assigned to nobody

[2014-11-20 03:57] xiaoyu830411 opened #45 "Can you put a jar builded by jdk 1.6 to repository of maven?"
Can you put a jar builded by jdk 1.6 to  repository of maven?

[2014-12-11 18:07] #45 closed, assigned to nobody

[2015-04-16 06:21] atomfrede commented on #40
@sytolk You can try the latest snapshot with update api.
@kenglxn I would consider this issue as done

[2015-04-16 07:57] kenglxn commented on #40
Thanks @atomfrede, forgot to close this after i merged.

[2015-04-16 07:57] #40 closed

[2015-04-27 04:00] rickdong opened #49 "Java 6 is not supported?"
Was getting the following error:

Caused by: java.lang.UnsupportedClassVersionError: net/glxn/qrgen/javase/QRCode : Unsupported major.minor version 51.0

[2015-04-27 04:24] atomfrede commented on #49
Minimum required java version is java 7.

[2015-05-06 23:04] MuhamedFathy opened #50 "problem with bitmap"
I can't use any method in the library with the bitmap, only the given example in read me works, but if i want to add some methods like `withCharset()` or `withWidth()` it's just give me error!

for example:
`final Bitmap bm = QRCode.from(et.getText().toString()).bitmap();` <-- That's works!

`final Bitmap bm = QRCode.from(et.getText().toString()).withSize(600, 600).withCharset("UTF-8").bitmap();`

[2015-05-07 04:26] atomfrede commented on #50
Which version are you using? The feature to use bitmap with other operations was just added a few weeks ago.

[2015-05-07 06:09] atomfrede commented on #49
@kenglxn I think you should close this issue. Java 7 is now end of life, so why trying to support java 6...

[2015-05-07 09:37] MuhamedFathy commented on #50
Actually I added that in my app gradle
`dependencies {
    compile ("net.glxn.qrgen:android:2.0")
}`
 and I think that's the latest version, right?
Also I don't know what is maven and how to use it with my app (as I said, I'm newbie in that field).

[2015-05-07 11:26] atomfrede commented on #50
maven is a repository where libraries can be published. So you're using the current, stable version. Just add the snapshot repository (as described in the readme) to your ``gradle`` build file and use ``2.1-SNAPSHOT`` instead of ``2.0``

[2015-05-07 13:24] #49 closed

[2015-05-07 13:26] kenglxn commented on #49
You could try to build from source, but qrgen is currently java7. java 7 will be EOL very soon as well.

[2015-05-07 18:50] MuhamedFathy commented on #50
@atomfrede
Now i added the repo as you said and changed the version like that...

![selection_001](https://cloud.githubusercontent.com/assets/4931115/7522533/7c03685c-f4fe-11e4-82d4-17dc910c8818.png)

but now i got no `bitmap()` method!

![selection_001](https://cloud.githubusercontent.com/assets/4931115/7523231/02b0f730-f503-11e4-94b4-9b05bee6f0a1.png)

is that's a personal problem or not from me

[2015-05-07 19:13] atomfrede commented on #50
@MuhamedFathy You are importing the ``javase`` version. You need to depend on the ``android`` module:

[code]

[2015-05-07 19:22] MuhamedFathy commented on #50
Now works great!
Thanks bro! :blush:

[2015-05-07 19:23] atomfrede commented on #50
You're welcome.

[2015-05-07 19:35] MuhamedFathy commented on #50
@atomfrede
Sorry but i forgot something, what about `withColor()` method?!

[2015-05-07 19:57] #50 closed

[2015-05-19 21:07] MuhamedFathy opened #51 "withColor();"
What about `withColor()` method in android?
why it's only available in java se version, and when it will be available in android?!

[2015-05-20 05:23] atomfrede commented on #51
Oh you're right. Will try to add it.

[2015-05-20 11:37] MuhamedFathy commented on #51
Okay, Thanks! :smiley:

[2015-05-20 12:58] atomfrede commented on #51
You should keep the issue open until its really closed ;)

[2015-05-20 13:14] MuhamedFathy commented on #51
Okay, sorry for that

[2015-05-24 04:30] MuhamedFathy opened #52 "VCard force stop on android"
VCard not working on SDK 10 gingerbread, forcebstop every time try to generate from it, `NoSuchMethodException`, I handled it but it's also not working, just give me the handled toast even the text fields not empty!

[2015-05-24 07:06] kenglxn commented on #52
what version are you using?

[2015-05-24 07:23] atomfrede commented on #52
The Android module is compiled against Android 4.x so it doesn't work on gingerbread.

[2015-05-24 13:50] MuhamedFathy commented on #52
@kenglxn  I use this version `net.glxn.qrgen:android:2.1-SNAPSHOT`

and this is the exception:

`05-24 13:43:55.657      534-534/com.mEmoZz.qrgen E/AndroidRuntime﹕ FATAL EXCEPTION: main
    java.lang.NoSuchMethodError: java.lang.System.lineSeparator
            at net.glxn.qrgen.core.vcard.VCard.toString(VCard.java:92)
            at net.glxn.qrgen.android.QRCode.from(QRCode.java:66)
            a

[2015-05-24 14:05] atomfrede commented on #52
@MuhamedFathy Ok, thats strange. It looks like ``System.lineSeperator()`` is not available on android. Will check it in the next couple of days.

[2015-05-24 14:17] MuhamedFathy commented on #52
Okay, great.

[2015-05-24 14:22] kenglxn commented on #52
System.lineSeparator was introduced in java 1.7.
You need to build with source level 1.7 which should be available in build tools 19 or newer.
See this stackoverflow for related answer: http://stackoverflow.com/questions/8578441/can-the-android-sdk-work-with-jdk-1-7/21700827#21700827

[2015-05-24 14:37] MuhamedFathy commented on #52
You talking to me or Mr. Frederik?
If me, i already build my app with 1.7, or what actually you mean?
Sorry if i don't understand 'Am newbie in developing at all'.

![selection_001](https://cloud.githubusercontent.com/assets/4931115/7788216/6390e948-0232-11e5-88f3-bfceccfc1514.png)

[2015-05-24 15:07] kenglxn commented on #52
@MuhamedFathy you need to make sure you have your project set up to build with java 1.7 features against android.

[2015-05-24 15:27] MuhamedFathy commented on #52
I changed it and still have the same problem!

[2015-05-24 15:53] atomfrede commented on #52
@MuhamedFathy  your module settings should like in the attached screenshots. Most important is that you use at least sdk 19. Both source and target must be java 1.7

![unbenannt](https://cloud.githubusercontent.com/assets/203401/7788517/a484480e-023d-11e5-89a7-ca02e4dbe501.png)

[2015-05-24 17:32] MuhamedFathy commented on #52
Actually givers me error now because am using material design in my project, is there any other way?

[2015-05-24 20:17] atomfrede commented on #52
You're talking about this project: https://github.com/MuhamedFathy/QRGenerator ?

The material tabs documentation says:

But in your ``build.gradle`` you have ``minSdkVersion 10`` so try to change it to e.g. 19 which should fix your error with that material tabs library.

[2015-05-24 20:33] MuhamedFathy commented on #52
This library works with gingerbread too, and i need to support it, any other way please? :/

[2015-05-24 20:42] kenglxn commented on #52
you could try to fork QRGen and replace System.lineSeparator with System.getProperty("line.separator") or just "\n" and build it locally. If you do you should also change the version in the pom so you don't get your local version overridden by changes in the remote.
Also, to be sure you don't have other java 1.7 problems, you should change source and target version to 1.6 in the maven compiler plu

[2015-05-24 20:54] atomfrede commented on #52
@MuhamedFathy Not quite sure if the material tabs library is a good choice at the moment:

But yes, you can try to fork ``QRGen`` and then use jitpack.io to add your forked and modified version to your dependencies.

[2015-05-24 21:00] kenglxn commented on #52
Closing this as it is not an issue with QRGen.

feel free to keep discussing, but no changes in QRGen will be made related to this.

[2015-05-24 21:00] #52 closed

[2015-06-05 19:43] plakat commented on #51
Hi!

I may be missing something obvious, but I can't find the method withColor() in the library version downloaded via Maven either. I use this dependency:

<dependency>
    <groupId>net.glxn.qrgen</groupId>
    <artifactId>javase</artifactId>
    <version>2.0</version>
</dependency>

[2015-06-06 07:53] kenglxn commented on #51
try the 2.1-SNAPSHOT version

[2015-06-06 08:20] kenglxn opened #53 "document release process"

[2015-06-06 08:21] kenglxn opened #54 "create 2.1 release"

[2015-06-08 16:22] ilmetu opened #55 "Unable to compile on Android when another library use zxing"
Hi,

my app need to create and read a qr code, so i get your awesome library and another one for scanning purpose: https://github.com/dlazaro66/QRCodeReaderView

but when i try to compile the compiler (Gradle - Android studio) failed :(

This is the error :
com.android.dex.DexException: Multiple dex files define Lcom/google/zxing/BarcodeFormat;

Do you have any idea to solve this problem ?

Thanks

[2015-06-08 16:31] kenglxn commented on #55
hmm. sounds like you are getting two conflicting versions of zxing.
Do you have a link to your code?

[2015-06-08 16:34] ilmetu commented on #55
i can put my code online if helps you to find a solution, but it happens just when i put the dependencies in gradle :(

dependencies {
    compile fileTree(dir: 'libs', include: ['*.jar'])
    compile 'com.android.support:appcompat-v7:22.2.0'
    compile 'com.android.support:design:22.2.0'
    compile 'com.android.support:support-v4:22.2.0'
    compile 'com.dlazaro66.qrcodereaderview:qrcodereaderv

[2015-06-08 16:40] kenglxn commented on #55
Perhaps try to exclude zxing from one of them, or add it explicitly:

  dependencies {
    compile fileTree(dir: 'libs', include: ['*.jar'])
    compile 'com.android.support:appcompat-v7:22.2.0'
    compile 'com.android.support:design:22.2.0'
    compile 'com.android.support:support-v4:22.2.0'
    compile ('com.dlazaro66.qrcodereaderview:qrcodereaderview:1.0.0') {
       exclude group: 'org.zxing'

[2015-06-08 16:44] kenglxn commented on #55
to add explicitly do someting like:

    dependencies {
        compile fileTree(dir: 'libs', include: ['*.jar'])
        compile 'com.android.support:appcompat-v7:22.2.0'
        compile 'com.android.support:design:22.2.0'
        compile 'com.android.support:support-v4:22.2.0'
        compile 'com.dlazaro66.qrcodereaderview:qrcodereaderview:1.0.0'
        compile 'net.glxn.qrgen:android:2.0'

[2015-06-08 16:50] kenglxn commented on #55
That module you're referring to defines its own classes in the com.google.zxing.client.android.common namespace. This will potentially also cause problems for you down the road.

[2015-06-08 16:53] kenglxn commented on #55
You need to figure out where the other 'com/google/zxing/BarcodeFormat' definition is coming from.
Gradle should handle this without issues in normal cases, so it may be coming from somewhere else.

[2015-06-08 16:53] ilmetu commented on #55
Excluding the com.google.zxing from your library do the trick!

  compile ('net.glxn.qrgen:android:2.0') {
        exclude group: 'com.google.zxing'
    }

Thanks man you are a pro!

[2015-06-08 16:54] kenglxn commented on #55
Np. Glad to hear it worked out for you!

[2015-06-08 16:54] #55 closed

[2015-06-24 08:33] thpham opened #56 "new feature: the image type to be SVG"
add SVG QR Code rendering

[2015-06-24 09:10] atomfrede commented on #56
The current snapshot (javase only) contains svg support, but its not yet released to maven central.

[2015-06-24 09:16] thpham commented on #56
Oh so cool, that's awesome ! Thanks !

[2015-06-24 09:16] #56 closed

[2015-07-24 05:30] ajma commented on #51
I tried with 2.1-SNAPSHOT and I still don't see withColor

[2015-07-24 05:48] atomfrede commented on #51
At the moment it's only available on javase not yet on Android.

[2015-07-27 07:53] kenglxn commented on #54
aldo update readme with new festures

[2015-10-11 20:09] CROSP opened #59 "Update Android library in repo"
Please update Android library in repo, I have used it from maven repo, but QRCode class doesn't have all required methods, that are present in you git repo by the way, so I have to extend AbstractQRCode class.
Methods like withSize, to are not implemented.
Current QRCode class content if following

[code]

[2015-10-11 20:37] atomfrede commented on #59
You can try to use jitpack to get the latest library from github via gradle or maven dependency if that helps.

[2015-10-14 12:50] dmsherazi commented on #59
@atomfrede  How can I include the SNAPSHOT repositor??

[2015-10-14 16:05] atomfrede commented on #59
See [here in the README](https://github.com/kenglxn/QRGen#get-it) and use ``2.1-SNAPSHOT`` as your version.

[2015-10-24 01:11] delisarsar opened #60 "Readme Variable Issue"
Update this line
 QRCode.from("Hello World").to(ImageType.PNG).writeTo(outputStream);

to
 QRCode.from("Hello World").to(ImageType.PNG).writeTo(stream);

because outputStream was never created.

[2015-10-24 06:12] kenglxn commented on #60
the examples focus on the qrgen api, adding explicit creation of objects like the outputStream would clutter the example code.

[2015-10-24 06:12] #60 closed

[2015-11-02 10:25] #59 closed

[2015-11-02 10:26] #53 closed

[2015-11-02 10:31] kenglxn commented on #54
deploying to sonatype and central is too much of a pain. I will not be doing it anymore.

When 2.1 is released it will be to an alternative repo, with a simpler more pragmatic setup.

[2015-11-02 10:31] kenglxn opened #61 "Substitute sonatype release setup for jitpack.io"
also change readme to reflect new setup

[2015-11-02 10:47] atomfrede commented on #61
I'm very pleased with jitpack.io. But I guess it is more for development releases, but it is definitly veeeery easy (zero setup more or less)

[2015-11-02 10:57] kenglxn commented on #61
nice, will check it out

[2015-11-26 14:55] Botz commented on #51
Just made a pullRequest for this in #62

[2015-11-26 19:51] #51 closed

[2015-11-27 11:54] kenglxn commented on #61
Jitpack is the way to go. Thanks for the tip @atomfrede
Will release next version using their guide very soon.

[2015-11-27 22:41] #61 closed

[2015-11-27 22:42] kenglxn commented on #54
2.1.0 is released to jitpack.io: https://jitpack.io/#kenglxn/QRGen/2.1.0

[2015-11-27 22:42] #54 closed

[2015-11-27 22:46] kenglxn opened #63 "make older releases available through jitpack"
need to tag previous releases so jitpack can make them available

[2015-11-27 22:57] kenglxn commented on #63
Older versions should now available through jitpack by setting semantic version in the dependency:

* 2.0 = com.github.kenglxn:QRGen:2.0.0
* 1.4 = com.github.kenglxn:QRGen:1.4.0
* 1.3 = com.github.kenglxn:QRGen:1.3.0
* 1.2 = com.github.kenglxn:QRGen:1.2.0

[2015-11-27 22:57] #63 closed

[2015-12-10 09:56] leolux opened #65 "Invalid “self-closing element not allowed”"
The issue explained in http://stackoverflow.com/questions/26049329/javadoc-in-jdk-8-invalid-self-closing-element-not-allowed appears also in AbstractQRCode.java:17 when building with JDK 8

[2015-12-19 19:12] kongsonida opened #66 "Execution failed for task ':app:transformClassesWithJarMergingForDebug'"
I got a problem when I used two libraries of QR-Code (Ready and Generator QR-Code) in gradle

 compile 'com.dlazaro66.qrcodereaderview:qrcodereaderview:1.0.0'
 compile 'com.github.kenglxn.QRGen:android:2.1.0'

=================== Gradle ===============
dependencies {
    compile fileTree(dir: 'libs', include: ['*.jar'])
    compile 'com.android.support:appcompat-v7:23.1.1'
    compile 'com.android

[2015-12-19 19:12] kongsonida commented on #66
Please help as soon as possible

[2015-12-20 08:08] atomfrede commented on #66
When you remove either the reader or generator the error is gone?

I guess it has something to do with zxing used by both libraries. So try to exclude it for one of the dependencies in your gradle file. You can also try to enable multidex support for your build.

[2015-12-20 18:12] kongsonida commented on #66
Yes, error is gone if I remove one of them.

Could you example to exclude in dependencies in gradle file ? because I tried many time, but I cannot do it...

Thanks in advance

[2015-12-20 21:42] atomfrede commented on #66
Have a look at this [stackoverflow thread](http://stackoverflow.com/questions/33164107/error-after-adding-play-services-library-apptransformclasseswithjarmergingf) I think it should contain all answers to your problem

[2016-01-06 04:27] ttyh061 commented on #66
Hi, kongsonida,

When you use QRGen and qrcodereaderview together, you can exclude the xing lib used by QRGen as below:
   compile ('com.github.kenglxn.QRGen:android:2.1.0') {
        exclude group: 'com.google.zxing', module: 'core'
    }

[2016-01-25 09:56] Jayvd opened #67 ""Padding" problem"
Hello. Thanks for providing a library that SIMPLE.

I have one question though. I am wondering if we can set the padding of the QR code and the background?

`QRCode.from("String to be encoded".withColor(Color.BLACK, Color.TRANSPARENT).withSize(512, 512);`

The BLACK is very small compared to the white background part. Is there anyway we could adjust this?

[2016-01-25 10:05] #67 closed

[2016-01-25 10:39] kenglxn commented on #67
Did you figure this out?
Could you elaborate?

[2016-01-25 10:48] Jayvd commented on #67
Yes, I realized how simple it was. What I meant was the margin between the qr and it's background.
Easily done via `withHint()`

Thanks

[2016-01-25 23:05] leolux opened #68 "Dimension behaves unpropotional"
The generated QR code never covers the complete image because the generator always adds some border around it. One issue is that the dimension of the QR code does behave propotional to the dimension of the target image including the border. The problem is when you change the size of the image by one pixel the size of the QR code gets increased by 10 pixel wheareas the border size gets decreased by

[2016-01-26 07:51] kenglxn commented on #68
I don't think this is a bug, but rather how ZXING behaves as defined by the qr code specification. See this discussion which seems relevant https://groups.google.com/forum/m/#!topic/zxing/MFd8-3IxmVY

You may set a fixed margin which could work around the issue with EncodeHintType.MARGIN (https://zxing.github.io/zxing/apidocs/com/google/zxing/EncodeHintType.html).

Either way I don't see this as a

[2016-01-26 07:51] #68 closed

[2016-01-26 07:56] kenglxn commented on #65
Feel free to submit a PR with a fix for this 😊 Seems a bit annoying, especislly since 7 is EOL

[2016-01-26 07:57] kenglxn commented on #66
As far as I can see this is not a bug in QRGen but a build setup issue.

[2016-01-26 07:57] #66 closed

[2016-02-17 11:44] ducciovigolo opened #69 "License compatibility issue"
Hi,
I've seen that under the hood your library is leveraging jfreesvg that is licensed under GPL v3.
This situation is compatible with the Apache 2 License of QRGen?
It seems that the 2 license are not compatible: http://www.apache.org/licenses/GPL-compatibility.html

I'm missing something?
Can I use your library in my commercial solution?

Thanks very much

Duccio

[2016-02-19 07:25] nesterov-n opened #70 "Cannot access repo"
Try to use your library in my project.

build.gradle:

[code]

When I buil my project I get error:

`Error:Could not GET 'https://jitpack.io/com/github/kenglxn/QRGbuen/android/2.1.0/android-2.1.0.pom'. Received status code 401 from server: Repo not found or no access token provided`

[2016-02-19 07:27] atomfrede commented on #70
You have a typo in your dependency.

Try ``compile 'com.github.kenglxn.QRGen:android:2.1.0'``

[2016-02-19 07:45] nesterov-n commented on #70
Oh. Sorry for such stupid mistake. And thank you very much for your help.

[2016-02-19 07:45] #70 closed

[2016-02-22 08:35] kenglxn commented on #69
Thank you for making me aware of this issue. I will look into it, and either remove the functionality completely, or find a valid licensed alternative.

[2016-02-23 12:43] kenglxn commented on #69
Considering the license incompatibility and the lack of a viable alternative, I think it is best to remove this feature completely.

@ducciovigolo You could use an older pre 2.0 version to get around the license for now, for example v1.4. Or if you have time you could fork and fix it for me in a PR :)

[2016-02-23 13:04] atomfrede commented on #69
@kenglxn As I am the one introduced svg support I can provide a PR.

[2016-02-23 13:05] kenglxn commented on #69
@atomfrede Cool man. Thank you :)

[2016-02-23 15:26] ducciovigolo commented on #69
@kenglxn, @atomfrede thank you very much for your answers and your time.

@kenglxn I'll wait for the PR and a new version of your great library!

[2016-02-23 21:28] #65 closed

[2016-02-23 21:28] #69 closed

[2016-03-01 15:01] ducciovigolo commented on #69
@kenglxn, @atomfrede thanks for your fix

@kenglxn any idea about the next release date? I would prefer to use a "official" build instead of a "self-made" one...

thank again

[2016-03-01 15:19] atomfrede commented on #69
@ducciovigolo You can just use this dependency, its more or less like an official version.

[code]

[2016-03-01 15:43] kenglxn commented on #69
i'll get one out in the next couple of days, in the meantime you can use the commit hash https://jitpack.io/docs/#snapshots

[2016-03-01 21:05] kenglxn commented on #69
@ducciovigolo here you go: https://jitpack.io/#kenglxn/QRGen/2.2.0

[2016-03-16 10:24] sytolk opened #72 "support for other QR types"
Its have only two types supported now (Text and VCard). If I open this page
http://goqr.me/#t=call
on the point 1. its have 9 types: Call, URL, SMS, WIFI, Location.. is missing
I suppose that all types are string formatted with some tags like VCard.toString() but I cant find info for this?
I have found WiFi schema:
core/src/test/java/net/glxn/qrgen/core/scheme/WifiTest.java

Do you have schema for

[2016-04-08 11:20] kenglxn commented on #72
Sorry, no. Feel fre to submit a PR with it if you want :)

[2016-04-21 13:15] solokingjec opened #73 "Failed to resolve: com.github.kenglxn.QRGen:android:2.1.0 on android studio"
I added the following line "compile 'com.github.kenglxn.QRGen:android:2.1.0'" on my gradle file inside dependencies but I get this error Failed to resolve: com.github.kenglxn.QRGen:android:2.1.0

[2016-04-21 14:16] solokingjec opened #74 "cannot access VCard class file for net.glxn.qrgen.core.scheme.VCard not found"
git clone git://github.com/kenglxn/QRGen.git
cd QRGen/
mvn clean install

I built the library using these commands and am now getting this errors cannot access VCard class file for net.glxn.qrgen.core.scheme.VCard not found when building the project on android studio.

[2016-04-21 14:21] #74 closed

[2016-04-22 05:38] atomfrede commented on #73
Have you added the required jitpack repository?

[code]

[2016-05-19 12:45] LTheobald commented on #61
Placing this here incase anyone else struggles against Jitpack & Nexus like I have been: https://github.com/jitpack/jitpack.io/issues/506

[2016-05-19 13:58] kenglxn commented on #61
Awesome! thank you. Will put this in the readme.

[2016-05-19 14:01] kenglxn commented on #73
Closing this. Does not seem to be an issue

[2016-05-19 14:01] #73 closed

[2016-05-23 13:52] onlynight opened #75 "File.toPath() method not found in android.jar"
i use the android-23 SDK,and set the build environment as JAVA_1_7. And i check the File.java it doesn't shows the method toPath method in File.java

[2016-05-23 14:48] atomfrede commented on #75
That should not be an issue as ``toPath`` is only used in the ``javase`` module.

[2016-05-24 15:40] kenglxn commented on #75
This is not an issue with QRGen, but a limitation in android sdk https://developer.android.com/reference/java/io/File.html

[2016-05-24 15:40] #75 closed

[2016-05-27 15:22] Informaticore opened #76 "QR-Code white Border"
Is it possible to get rid of the white border arround the QR-Code?

[2016-05-27 20:06] kenglxn commented on #76
You should be able to pass a hint to zxing. see http://zxing.github.io/zxing/apidocs/com/google/zxing/EncodeHintType.html#MARGIN

Something like: `QRCode.from("Hello World").withHint(EncodeHintType.MARGIN, "1");`

Keep in mind that this could affect the decode ability of some clients.

[2016-05-28 20:15] #76 closed

[2016-06-06 14:34] maz1987in opened #77 "image overlay"
Could you please adds a image overlay to a qrcode?

[2016-06-06 18:36] kenglxn commented on #77
Interesting idea, found this article that looks promising https://skrymerdev.wordpress.com/2012/09/22/qr-code-generation-with-zxing/

[2016-06-14 20:31] abdulrahmanmajeed opened #78 "Exception in Rendring"
GMPM: getGoogleAppId failed with status: 10
GMPM: Uploading is not possible. App measurement disabled
AndroidRuntime: FATAL EXCEPTION: main
java.lang.NoClassDefFoundError: net.glxn.qrgen.android.QRCode

[2016-06-15 06:59] kenglxn commented on #78
Looks like a project setup problem. I can not see how this could be an issue with QRGen.

[2016-06-15 06:59] #78 closed

[2016-06-15 12:33] marcolenzo opened #79 "Invalid maven groupid"
The `groupid` for your artifact in Maven seems to be `com.github.kenglxn.QRGen`. I know this is a minor thing but it took me some time to realize since in your documentation you state it as `com.github.kenglxn.qrgen`.

[2016-06-15 12:35] marcolenzo commented on #79
Actually I must have some other issue because I am not managing to pull the artifact either way.

[2016-06-15 13:16] atomfrede commented on #79
Have you added the ``jitpack`` repo? The artifact id is ``com.github.kenglxn.QRGen:javase:2.2.0`` for the ``javase`` submodule

[2016-06-21 06:20] kenglxn commented on #79
Closing this. The group-id is correct in the readme.

[2016-06-21 06:20] #79 closed

[2016-10-04 08:07] csacanam opened #80 "Compatibility with Google App Engine"
I'm writing a web app with Google App Engine. I found your library and I'm very interested in using it to generate QR codes. However I have an exception because you're creating a temporary file when I use

`File file = QRCode.from("Hello World").file();`

It generate a `net.glxn.qrgen.core.exception.QRGenerationException`

Do u know how can I solve this issue?

[2016-10-04 08:21] atomfrede commented on #80
I don't know app engine, but if you can't create a temporary file you can use ``QRCode.from("Hello World").stream()`` to obtain a ``ByteArrayOutputStream`` and convert it yourself to a file (if required).

[2016-10-04 16:40] csacanam commented on #80
I tried it but now I receive another exception: java.lang.NoClassDefFoundError: java.awt.Image is a restricted class. Please see the Google App Engine developer's guide for more details. Line 150 in QRCode.java and Line 62 in AbstractQRCode.java.

[2016-10-04 18:17] kenglxn commented on #80
I don't think that error is from QRGen, but a stacktrace would be helpful to be sure. It seems like you are using java.awt.Image which is not whitelisted in GAE. They have some examples for manipulating images here: https://cloud.google.com/appengine/docs/java/images/

I have not played around with GAE myself, but it looks like you can give a byte array to `ImagesServiceFactory.makeImage(imagebyte

[2016-10-05 11:49] kenglxn commented on #80
@csacanam can you confirm that this works?

I can't really see why QRGen would be incompatible with GAE.

[2016-10-06 08:25] kenglxn commented on #80
I'm closing this, as I don't see how this can be aproblem caused by QRGen.

Feel free to reopen if you disagree.

[2016-10-06 08:25] #80 closed

[2016-10-27 04:45] Fleker opened #82 "Support for Wi-Fi Enterprise"
Right now it seems like your [Wi-Fi QR code generator](https://github.com/kenglxn/QRGen/blob/master/core/src/main/java/net/glxn/qrgen/core/scheme/Wifi.java) only supports WEP and WPA, but not enterprise (where there's both a username and password).

I propose adding support for enterprise level Wi-Fi based on [this guide](http://www.glassappsource.com/google-glass-how-to/connect-enterprise-wpa-net

[2016-10-30 21:09] kenglxn commented on #82
fixed by #83

[2016-10-30 21:09] #82 closed

[2016-11-30 07:54] typ0520 opened #84 "2.2.0 not found"
jcenter上只有2.0这个版本 ,README里写的是2.2.0，是README写错了，还是jar包没有传
https://jcenter.bintray.com/net/glxn/qrgen/javase/

[2016-11-30 08:17] atomfrede commented on #84
It is not published to jcenter or central anymore. You have to use the jitpack repository. When using maven add this repository:
[code]

and use this artifact:
[code]

For details see the ``README``

[2016-12-06 15:15] maoxiao opened #85 "cannot resolve"
I added compile 'com.github.kenglxn.QRGen:javase:2.2.0' to my android project. However, I ended up getting an error says "Failed to resolve github.kenglxn.QRGen:javase:2.2.0". Is there any other dependency should be added?

[2016-12-06 17:12] atomfrede commented on #85
Have you added the required jitpack repository to your `build.gradle`?

[code]

[2016-12-07 02:31] maoxiao commented on #85
@atomfrede Thank you for your help!   It is resolved!

[2016-12-07 11:27] #85 closed

[2016-12-07 11:27] #84 closed

[2017-03-07 02:44] kongqw opened #86 "java.lang.VerifyError: net/glxn/qrgen/android/QRCode"
I use this to make bitmap
[code]

but show error:

[code]

[2017-03-07 07:52] kenglxn commented on #86
You need to supply more information if you want someone to be able to help you with this.
What is your build environment, target platform (i.e. android version)? etc.

[2017-03-07 08:36] kongqw commented on #86
I've solved it, thx, it‘s by myself.

[2017-03-07 08:36] #86 closed

[2017-04-06 10:03] GuilhE opened #88 "QRCode white border"
Hello,
Is it possible to remove the border created around the QRCode or change its size?
I can always crop it or manipulate the bitmap, but it would be nice to have a lib's method to do so.

Thanks.

ps: I'm using it for Android.

[2017-04-06 10:45] GuilhE commented on #88
Ok I've found a way :)

int myMargin = 0;
Bitmap qrCode = QRCode.from(data).withHint(EncodeHintType.MARGIN, myMargin).bitmap();

That's how you manipulate the margin.

[2017-06-29 19:28] kenglxn commented on #88
Thanks for posting your solution. Will be helpful to others with the same question.

[2017-06-29 19:28] #88 closed

[2017-08-09 03:44] ShriSamson opened #89 "Open Source Licence"
Hello, could you add an open source license so others can use and improve your project easily?

Thank you!

[2017-08-09 06:47] atomfrede commented on #89
The project is licensed under Apache  2 as you can see in the readme.

[2017-08-26 16:36] #89 closed

[2017-08-26 16:39] kenglxn commented on #89
The license is also defined in the pom https://github.com/kenglxn/QRGen/blob/master/pom.xml#L22

[2017-09-13 22:37] abdulrahmanmajeed opened #90 "unable to resolve with android latest version"
hi, i've updated my app and getting error after upgrading from 25 to 26, please help me to sort out this issue

![untitled](https://user-images.githubusercontent.com/4646811/30404033-f4ec3d98-98fd-11e7-979b-0c09a3f58dee.png)
compileSdkVersion 26
buildToolsVersion "26.0.1"

[2017-09-14 08:00] kenglxn commented on #90
how are you adding the dependency? can you show us the buil file?
make sure you have set up the repository as described in the readme?

[2017-09-15 06:28] kenglxn commented on #90
@abdulrahmanmajeed I want to confirm this is an issue with QRGen. Could you give some more details as requested above?

[2017-09-15 18:46] kenglxn commented on #90
closing this as it seems unrelated to QRGen. Feel free to reopen if it indeed is a bug. We will need details on the build setup and steps to reproduce to debug/solve it.

[2017-09-15 18:46] #90 closed

[2017-09-22 17:01] prashantkbhardwaj commented on #90
Hi, I am facing the same issue, can you please help me with this?

[2017-09-22 17:26] atomfrede commented on #90
You should provide more information. Can you share your build.gradle file?

[2017-09-22 17:29] prashantkbhardwaj commented on #90
apply plugin: 'com.android.application'

android {
    compileSdkVersion 26
    buildToolsVersion "26.0.0"
    defaultConfig {
        applicationId "com.example.prashantbhardwaj.cloudadicscanner"
        minSdkVersion 15
        targetSdkVersion 26
        versionCode 1
        versionName "1.0"
        testInstrumentationRunner "android.support.test.runner.AndroidJUnitRunner"
    }
    buildType

[2017-09-22 19:14] atomfrede commented on #90
You beed to add the required `jitpack` repository:
[code]

[2017-09-22 20:45] prashantkbhardwaj commented on #90
Where do I add this?

[2017-09-22 20:49] prashantkbhardwaj commented on #90
Okay, got it. Thanks a lot

[2017-10-03 13:18] Ramkesh9 opened #91 "Failed to resolve"
Error:(32, 13) Failed to resolve: com.github.kenglxn.QRGen:android:2.3.0
<a href="openFile:/Users/ricky/Workspace/QrGenrater/app/build.gradle">Show in File</a><br><a href="open.dependency.in.project.structure">Show in Project Structure dialog</a>

[2017-10-03 13:20] atomfrede commented on #91
Have you added the jitpack repository as described in the readme?

[2017-10-03 14:10] Ramkesh9 commented on #91
no actually I am new in android, so please assist me

[2017-10-03 14:22] #91 closed

[2017-12-08 17:01] rusho opened #92 "Unable to fetch from jitpack"
SBT seems to hang on this and eventually fails:
[code]

trying same url in the browser results in connection being stuck as well. Attempt to open https://jitpack.io/com/github/kenglxn/qrgen/javase/ in the browser shows `Tag or commit 'javase' not found. Rechecking.`

I do have jitpack repository added correctly, it used to work for a long time without any issue.

[2017-12-08 17:22] kenglxn commented on #92
Thanks for repoeting this. I will look into it asap.

[2017-12-08 17:29] kenglxn commented on #92
Everything looks ok acvording to the logs on jitpack https://jitpack.io/com/github/kenglxn/QRGen/2.3.0/build.log

Do you have s recipe for how toreproduce? F.ex a minimal build file or something similar.

[2017-12-08 17:42] kenglxn commented on #92
The file is there, not sure why you are getting this error: https://jitpack.io/com/github/kenglxn/QRGen/javase/2.3.0/javase-2.3.0.jar

[2017-12-08 18:22] rusho commented on #92
SBT gets pom file just fine and then for some reason tries to fetch listing of the /2.3.0/ directory and this one hands. On Sonatype directory listings work just fine but trying to open https://jitpack.io/com/github/kenglxn/qrgen/javase/2.3.0/ in browser or via curl hangs the connection as well (instead of eg. failing or something) and this seems to be a root of trouble

[2017-12-08 18:27] kenglxn commented on #92
Ok, I suspect this is a jitpack issue. Will try to get in touch with them.

[2017-12-08 18:38] kenglxn commented on #92
not sure what to do about this. perhaps there are similar issues reported here: https://github.com/jitpack/jitpack.io/issues

[2017-12-08 18:39] kenglxn commented on #92
Could you try 2.2.0 to see if the issue is the same?

[2017-12-09 13:30] rusho commented on #92
it works now, thanks. Directory listing now properly works and so does SBT

[2017-12-09 13:30] #92 closed

[2017-12-09 14:17] kenglxn commented on #92
thanks for the update

[2017-12-20 21:20] kenglxn commented on #72
fixed by #93

[2017-12-20 21:20] #72 closed

[2017-12-20 21:22] kenglxn opened #94 "release 2.4.0"
# TODO:
- [ ] remove or implement any unimplemented classes/methods
- [x] generate release log
- [ ] consider cleanup code formatting etc.
- [x] publish artifact
- [x] update readme
  - [x] versions
  - [ ] more explicit description on schema usage. more examples.

[2017-12-21 20:24] atomfrede commented on #94
Regarding code formaating I found https://github.com/diffplug/spotless quite useful (currently only supports gradle but maybe thats no problem). Furthermore I was thinking about adding SVG support again via apache batik, which is apache 2 licensed so it won't conflict with qrgens license. What do you think?

[2017-12-21 20:26] kenglxn commented on #94
Nice! Will have a look at it in the holidays.

Sounds great. :)

[2017-12-21 20:27] atomfrede commented on #94
I will open an issue for the svg support to keep track about it.

[2017-12-21 20:29] atomfrede opened #95 "SVG support"
The old svg support used a GPL3 licensed library which is not compatible with Apache 2. In order to support SVG format again we could use batik directly which is also apache 2 licencesed.

https://xmlgraphics.apache.org/batik/using/svg-generator.html

[2017-12-21 20:30] atomfrede commented on #94
We should also think of at least automatic module naming with regards to java 9 modules: http://branchandbound.net/blog/java/2017/12/automatic-module-name/?utm_content=buffer704a9&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer

[2017-12-21 20:33] kenglxn commented on #94
indeed. I will have to look into it when I have some more spare time.

[2018-01-05 23:16] kenglxn commented on #94
Published 2.4.0 althoug did not get to all the points in this issue. Moving them out to another post release issue, as I don't think the release needs to wait for them https://github.com/kenglxn/QRGen/releases/tag/2.4.0

[2018-01-05 23:16] #94 closed

[2018-01-05 23:18] kenglxn opened #96 "post 2.4.0 refactorings"
# TODO:
- [ ] remove or implement any unimplemented classes/methods
- [ ] consider cleanup code formatting etc.
- [ ] more explicit description on schema usage. more examples.

see https://github.com/kenglxn/QRGen/issues/94 for discussions on code formatting and java 9 modules.

[2018-01-08 14:49] andrevdk opened #97 "Suggestion on how to remove image padding?"
I am using this library on Android and the generated bitmap has a big padding. Is there any way to remove it before the generation of the bitmap?

[2018-01-08 14:54] kenglxn commented on #97
You should be able to control padding through hints (https://zxing.github.io/zxing/apidocs/com/google/zxing/EncodeHintType.html):
[code]

[2018-01-08 16:42] #97 closed

[2018-01-26 17:58] prasenjeetpaul opened #99 "URL Scheme Issue"
The Url in URL Scheme is forced to upperCase() which doesn't stand valid because many url have combination of both lower and upper case letter.

[2018-01-28 18:22] akjoshi009 opened #100 "bitmap method is unknown"

[2018-01-28 23:01] kenglxn commented on #100
Please supply a description of the error, and how to reproduce.
You may reopen the issue when you have done that, but there is no way for anyone to help you baser on the title alone.

[2018-01-28 23:01] #100 closed

[2018-01-29 10:43] akjoshi009 commented on #100
I m really sorry for inconvenience
its my fault there is no issue i will closed the issue asap.
Thanks
Sachin Anbhule

On Mon, Jan 29, 2018 at 4:31 AM, Ken Gullaksen <notifications@github.com>
wrote:

[2018-04-14 21:59] Rhobal opened #101 "Set Schema constructor to protected"
I can't extend Schema in my own package because the constructor has package visibility instead of being protected.

[2018-04-16 19:55] kenglxn commented on #101
Feel free to submit a PR.

[2018-05-31 07:02] #99 closed

[2018-06-23 11:09] moberwasserlechner opened #103 "Published groupId differs from Maven groupId"
I wanted to build and install QRGen to my local maven repo to test a feature I'm working on and realised that the groupId in the published version on jitpack differs from the one used in Maven.

To get the dependency from Jitpack I use:
[code]

To get the snapshot with my features from mavenLocal() I use:
[code]

I'm happy to create a pull request and fix this to `com.github.kenglxn.QRGen` but nee

[2018-06-24 09:12] kenglxn commented on #103
resolved in #104

[2018-06-24 09:12] #103 closed

[2018-07-23 19:29] YSArch opened #106 "Failed to get com.google.zxing by gradle"
Following the steps by https://github.com/kenglxn/QRGen/

 +--- com.github.kenglxn.QRGen:javase:2.5.0
|              |    +--- com.google.zxing:javase:3.3.0 FAILED
|              |    \--- com.github.kenglxn.QRGen:core:2.5.0
|              |         \--- com.google.zxing:core:3.3.0 FAILED

There is a problem to grasp dependencies of com.google.zxing.

[2018-07-23 19:39] YSArch commented on #106
In  javase-2.5.0.pom:
  <dependency>
      <groupId>com.google.zxing</groupId>
      <artifactId>javase</artifactId>
    </dependency>
There is no version specified, is that the cause?

[2018-07-30 06:19] kenglxn commented on #106
There is not enough information here for anyone to be able to help you.

You should add the following:
What does you build look like? (show your gradle og pom file).
What is the output from the build? (log)

Closing this as it is unlikely a problem with QRGen.
Feel free to reopen if it indeed is a problem with QRGen. Perhaps there is room for improvement in the readme. If so can you specify what i

[2018-07-30 06:19] #106 closed

[2018-08-21 12:02] ervinod opened #107 "Unable to generate Bitmap of QRCode"
I am generating bitmap inside fragment as follows
Bitmap myBitmap = QRCode.from("www.example.org").bitmap();
.... but it shows Cannot resolve symbol .bitmap()

Please help....

[2018-08-21 12:08] ervinod commented on #107
sorry ... instead of android i added java application dependency to gradle....
after adding android dependency issue get solved

[2018-08-21 12:08] #107 closed

[2018-08-27 10:55] nflynn-rm opened #108 "Unable to extend Schema for Custom Schema"
Hi,

I am trying to create a custom Schema in my own project and I am unable to do so due to the following error:

 `Schema() is not public in Schema; cannot be accessed from outside package`

Is there a way around this that I am not seeing or could someone point me in the right direction, please?

[2018-08-27 11:08] kenglxn commented on #108
A bit hard to tell what's wrong from that message alone, but it sounds like the compiler is telling you to add a no-args public constructor.
What does your implementation look like?

you can take a look at one of the Schema implementations in QRGen for example SMS https://github.com/kenglxn/QRGen/blob/master/core/src/main/java/net/glxn/qrgen/core/scheme/SMS.java

[2018-08-27 11:16] nflynn-rm commented on #108
Sorry I should have posted an example.

    public class CustomSchema extends Schema {

        CustomSchema() {
            super();
        }

        @Override
        public Schema parseSchema(String code) {
            return null;
        }

        @Override
        public String generateString() {
            return null;
        }
    }

The compiler is complaining about the super() call,

[2018-08-27 11:31] kenglxn commented on #108
Ok. Sounds like maybe you are hitting a bug that was fixed a while back.
Looks like I have forgotten to make a new release with the bugfix. Until I do, you can use the latest master from jitpack. Should solve the issue for you: https://jitpack.io/#kenglxn/QRGen/master-2.4.0-gf2bc9c6-3,
bugfix: https://github.com/kenglxn/QRGen/pull/105

[2018-08-27 11:37] nflynn-rm commented on #108
Great, that seems to have solved the problem.

Thanks for your help!

[2018-08-29 18:00] kenglxn commented on #108
reopening this. will close once release is made

[2018-09-01 08:16] van048 opened #109 "How can i setup the margin between code and boarder?"
I want to custom the margin...

[2018-09-01 08:38] kenglxn commented on #109
you can use hints. see this answer https://github.com/kenglxn/QRGen/issues/76#issuecomment-222241335

[2018-09-01 08:38] #109 closed

[2018-10-01 11:56] nixbpe commented on #96
Can i help you for this ?

[2018-10-01 20:50] #95 closed

[2018-10-01 21:58] kenglxn commented on #96
i always welcome PRs. This issue is not very well defined, but the most important part is more documentation with examples of how to use schema. What schemas are available and how to use them, perhaps even how to extend and define your own schemas.

[2018-10-08 12:04] tr00per opened #112 "Enabled SVG writing to a stream (no temp file)"
SVG writing is a great feature (#95), but it would be more versatile, if contents could be written directly to an OutputStream.

[2018-10-10 13:41] vinayjaiswal opened #114 "Bitmap creator"
Bitmap creator method is missing in code, please check

[2018-10-10 14:01] atomfrede commented on #114
Are you using android? `bitmap()` is only available on android.

[2018-10-14 17:37] #112 closed

[2018-10-14 17:43] kenglxn commented on #114
closing this. bitmap is only available on android. If there is an issue with bitmap on android feel free to reopen.

[2018-10-14 17:43] #114 closed

[2018-10-23 10:12] georgethomas2015e opened #116 "White space around QR Code"
How to remove or decrease the white space around the generated QR code.

Bitmap qrcodeBitmap = QRCode.from("Hello").withSize(1500, 1500).bitmap();
        qrcodeimage.setImageBitmap(qrcodeBitmap);

[2018-10-29 15:40] kenglxn commented on #116
see https://github.com/kenglxn/QRGen/issues/109

[2018-10-29 15:40] #116 closed

[2018-11-06 12:50] wzhsh90 opened #117 "how can i add a text specification on the top or bottom"
Hi：

example:
![2018082117364527](https://user-images.githubusercontent.com/16187191/48065370-732f6580-e205-11e8-81e1-2d3bddfa9563.png)

[2018-11-07 20:12] kenglxn commented on #117
Placing text below an image can be done in many different ways depending on your target medium. I do not see how this is applicable to QRGen though.

My suggestion is to take the generated qrcode and place text below or above using the layout options available in the target medium. for instance using appropriate html markup or layout markup for android.

[2018-11-07 20:12] #117 closed

[2018-11-15 09:02] semirci opened #118 "MATMSG"
Hi,
How to create matmsg: code

[2018-11-16 14:17] pawlidim commented on #118
MATMSG is not supported, feel free to submit a PR with it.

[2018-11-25 13:06] surajs02 opened #120 "QRCode.from cannot be resolved in Android Studio"
Android Studio cannot resolve QRCode.from when trying to convert String to QRCode in this code:
[code]

Using QRGen android 2.5.0 from jitpack.io.

project build.gradle:
[code]

app build.gradle:
[code]

[2018-11-27 02:29] dubiao opened #121 "It will be uesful to openly get a Matrix array"
Open a `Matrix` interface allows users to make some stuff by themselves.
e.g. draw some round rect qr-code or store them to disk with a low space cost. etc..

https://github.com/kenglxn/QRGen/blob/1d84899c5cee01fb2b329512be7d96cb22a4714d/core/src/main/java/net/glxn/qrgen/core/AbstractQRCode.java#L85

Change above code line to :
[code]

[2019-01-18 06:08] vemv commented on #61
This is kind of a security risk, isn't it? I trust Maven Central way more than Jitpack - the former has been around for longer, has a greater too-big-to-fail factor.

Central artifact repos can always modify .jar contents with evil stuff.

My concern is particularly relevant for a QR-related library.

Hope you can give it some thought!

Thanks - V

[2019-01-19 00:00] davvit opened #123 "Save to path"
This might be very trivial for android experts but i am not able to save the file to a location of my choice.

[code]
is there a way to set path or smtn like that im missing?

[2019-01-19 00:31] davvit commented on #123
i got it done through stream...but this looks like a lot of File objects to get this done ....wouldnt mind a review of this code.

[code]

[2019-01-31 01:20] paulvi commented on #77
@kenglxn The generated QRCode from https://skrymerdev.wordpress.com/2012/09/22/qr-code-generation-with-zxing/ cannot be read, so the article is actually shows wrong approach.

[2019-01-31 01:25] paulvi opened #124 "Examples from README just don't compile"
Examples from README just don't compile

[code]

- No such constructor
- No such method

![image](https://user-images.githubusercontent.com/1614482/52024011-20cac000-253a-11e9-90b2-37d864f8d957.png)

[2019-01-31 02:01] paulvi commented on #123
Looks good.

1. Be sure that folder creation happens only once on app start.
2. Don't use jpg format for QRCode, it will blur image

If using JVM to handle File, code could be

[code]

But @davvit answer is better to use `OutputStream` instead of `File`

[2019-01-31 06:16] kenglxn commented on #77
Thanks for trying and letting us know @paulvi

[2019-03-03 02:48] brianlenz opened #125 "JitPack dependencies missing"
Sorry if this isn't the best way to let you know, but we discovered your 2.2.0 and 2.3.0 core dependencies are currently missing from the JitPack repo:

https://jitpack.io/com/github/kenglxn/qrgen/core/2.2.0/
https://jitpack.io/com/github/kenglxn/qrgen/core/2.3.0/

2.1.0 and 2.4.0 are working properly, however.

Thanks for providing QRGen! 👍

[2019-03-03 15:02] kenglxn commented on #124
I'm inclined to close this issue. This is not enough information for anyone to help you with this issue.

What version are you using, what is your build setup, what does your classpath look like?

[2019-03-03 15:08] kenglxn commented on #125
Thanks for letting me know. I will look into it.

[2019-03-03 15:10] kenglxn commented on #125
I have submitted an issue with jitpack.

[2019-03-04 09:17] paulvi commented on #124
Well, automatic build is usually guarantee that a code base can compile.

Should adding CI like travis-ci be other issue?

[2019-03-04 09:44] kenglxn commented on #124
No problem with the CI setup in this project as far as I know. (https://travis-ci.org/kenglxn/QRGen)

You are claiming the examples don’t work, but give no details on your setup. It is impossible to say what is wrong based on that screenshot alone. You are assuming this is a problem in the QRGen library, but I see no evidence for that. If you could supply the details I suggested above then it woul

[2019-03-04 09:45] paulvi commented on #124
OK, then add build status button to README,
and issues like this are not to appear

[2019-03-04 09:46] kenglxn commented on #124
There is a status button in the readme

[2019-03-04 09:48] paulvi commented on #124
Indeed, than it goes only to me, while a month ago I ran into compilation issue

[2019-03-04 09:49] paulvi commented on #124
Oh, I recollected:

The sources are OK, but example in README.md is likely to be not updated.

[2019-03-04 09:49] kenglxn commented on #124
If there is an issue in the readme regarding the use of MMS and SMS it would be nice to get that fixed.

But first I need to be sure what causes the error for you so I klow that there is an error in the readme.

[2019-03-04 09:50] paulvi commented on #124
Just paste code from currently README into a new class

[2019-03-04 09:54] kenglxn commented on #124
Thanks for clearing this up. Looks like the SMS and MMS constructors are not matched the readme examples.
These classes could use a regactoring anyway. At the very least the readme needs updating.

[2019-04-04 21:57] msgilligan commented on #61
I just got negative feedback (and possible rejection) of a PR because QRGen uses jitpack.io instead of Maven Central. I agree with @vemv that _release versions_ of QRGen should be released to Maven Central.

[2019-04-11 18:35] fabioebner commented on #116
Still not working  I using this code: `return QRCode.from(conteudo).withSize(qrCodeWidth,qrCodeHeight).withHint(EncodeHintType.MARGIN, 0).withCharset("UTF-8").file();` I already try 1 but without success

and get this result: look the diference with the right qrCode (without margin)

![Screen Shot 2019-04-11 at 15 34 16](https://user-images.githubusercontent.com/2648675/55982468-547b4200-5c6f-11e9

[2019-04-20 06:14] amirbabaali opened #126 "withCharset method not found!!!"
Hello there.
We're using QRGen 1.3 alongside ZXIng core and java-se 2.0 libraries.
Although there is no compile error about witCharset() method, but on runtime we encounter this error:
java.lang.NoSuchMethodError: net.glxn.qrgen.QRCode.withCharset(Ljava/lang/String;)Lnet/glxn/qrgen/QRCode;

This is code line referenced by stack trace:
ByteArrayOutputStream out =
QRCode.from(imageContent).withChars

[2019-05-03 13:07] julianlfs commented on #120
Same thing here, with IntelliJ, any ideia?

[2019-06-14 17:38] kenglxn commented on #125
I’m waiting for github package registry to land. that will resolve this issue.

[2019-06-27 17:16] allenluce commented on #61
Not sure how often this happens, but jitpack.io is currently down for me:
[code]
Their [web page](https://jitpack.io ) is also affected:

![Screen Shot 2019-06-27 at 10 14 55 AM](https://user-images.githubusercontent.com/4258048/60286491-7f675080-98c4-11e9-8125-04702dab9377.png)

[2019-06-27 22:06] kenglxn commented on #61
Hoping to get access to github package registry soon. That should resolve
these issues. Releasing to maven central is too much of a hassle. I will
have a look after the holidays to see if I can get an alternate solution
available in the interim.
--

Ken Gullaksen
http://glxn.net

[2019-07-18 07:39] blacelle opened #127 "Next release date?"
Hello. When do you plan to release next version? There is multiple interesting new features available since latest release, including SVG support.

Thanks

[2019-07-18 08:28] kenglxn commented on #127
https://github.com/kenglxn/QRGen/releases/tag/2.6.0

[2019-07-18 08:29] kenglxn commented on #127
I know there are some issues with jitpack, I am still waiting/looking for a viable alternative. Hopefully github package registry will be available soon.

https://github.com/kenglxn/QRGen/issues/125

[2019-07-18 08:29] #127 closed

[2019-07-18 08:30] kenglxn commented on #127
Please let me know if you are able to get 2.6.0, if not we will have to find a workaround in the interim.

[2019-10-12 11:36] #126 closed

[2019-10-12 11:38] #118 closed

[2019-10-12 11:39] #108 closed

[2019-10-12 11:41] kenglxn commented on #77
Although interesting, probably not a good idea. Killing this for now.

[2019-10-12 11:41] #77 closed

[2019-10-12 11:42] #120 closed

[2019-10-12 11:42] #123 closed

[2019-10-31 10:38] TurKurT656 opened #131 "ColorRes option"
TnQ for this lib,
How we can set a color from color res id or color attr?
like this:
.withColor(ContextCompat.getColor(getActivity(), R.color.colorPrimary))

[2019-11-01 22:18] kenglxn commented on #131
not sure. QRGen is just a wrapper on top of ZXING(https://github.com/zxing/zxing)
If it can be done in zxing, then we should be able to do it with QRGen as well. Try checking the docs of zxing.

[2019-11-01 22:24] TurKurT656 commented on #131
is there any method that convert that to 0xAARRGGBB format?

[2019-11-04 21:19] eximius313 opened #132 "[Feature Request] Possibility to add custom logo"
Could you please add possibility to add custom logo?

This website has really powerful customization options - https://www.qrcode-monkey.com/ - it would be great if QRGen support at least some of them

Kind regards

[2019-11-13 20:53] johndeverall opened #133 "Maven repository seems to be down"
The jars seem to be missing from Maven Central at the moment.

[2019-11-13 21:36] johndeverall commented on #133
My mistake. I did not see there's a note in the documentation saying that the libraries are no longer published to Maven Central.

[2019-11-13 21:36] #133 closed

[2019-11-21 06:26] Dagzo commented on #131
I think you can set a color from res id like below.
Please try it.

[code]

[2020-01-05 14:18] rzo1 commented on #61
I agree with @msgilligan and @vemv . Why can't the _release versions_ of QRGen be released via Maven Central?

Proxying ` jitpack.io` on several build servers or on a custom JFrog artifactory is just **pain**.

[2020-01-05 15:34] kenglxn commented on #61
Because publishing to maven central is cumbersome. I will try to resolve this issue when I get time in my schedule. I am looking for alternatives to jitpack.

[2020-01-07 09:24] rzo1 commented on #61
Thanks, @kenglxn for putting this on the schedule again. In addition, the `groupId` used in jitpack.io differs from the one used in the source code.

[2020-02-07 21:34] fadsel commented on #73
Coming back to this in **2020!** - good old jetpack.io always missing from the repos :dancer:

[2020-02-08 19:17] kenglxn commented on #73
Still looking for an alternative. I am considering publishing to maven
central again. I will look into it soon.
--

Ken Gullaksen
http://glxn.net

[2020-02-08 19:47] fadsel commented on #73
Looking forward to it, great work so far!

[2020-03-01 16:07] kenglxn commented on #73
Just discovered packagecloud.io Perhaps a viable alternative: https://packagecloud.io/docs#maven_deploy

[2020-05-22 03:04] technyx-ali-rehman opened #134 "How to generate V2 QR instead of V10. Is this possible?"

[2020-06-21 09:24] #121 closed

[2020-09-04 12:13] Lonzak commented on #61
Any luck with putting this to maven central again? We have the same issue :-/

[2020-09-09 01:44] creativetrendsapps commented on #114
bitmap() does work on android

[2020-09-27 13:46] szpak commented on #61
@kenglxn Could you elaborate more on that topic? Do you mean manual releasing from your computer and clicking in the Sonatype Nexus or rather making it possible to work automatically from your CI server?

[2020-11-16 05:05] AlexisN94 commented on #114
I'm using android and having the same issue.

[2020-11-16 05:06] AlexisN94 opened #136 "Bitmap creator missing"
Using on Android Studio and bitmap creator is missing

[2020-11-16 05:13] #136 closed

[2021-02-10 10:57] KMahoney opened #137 "Incorrect checksum for v2.6.0"
I'm not very familiar with Java packaging so forgive me if this is the wrong place to report this, but I have been experiencing failing builds because the checksum for 2.6.0 on jitpack.io seems to be incorrect.

This might not affect many of your users because Maven doesn't check checksums, but Coursier does.

[code]

[2021-03-01 01:59] ligi commented on #137
just experienced the same - wondering if this is a @jitpack-io problem. But the first time I experienced something like this - and a bit careful as the app where I enabled checksum checking is a bit sensitive.

[2021-03-01 02:55] ligi commented on #137
Some more information: I compared the files - the only differences are in ./META-INF/MANIFEST.MF and ./META-INF/maven/com.github.kenglxn.QRGen/core/pom.properties

[code]
[code]

[code]

--> so it should be safe to use this version - still wonder what triggered the rebuild @jitpack-io

[2021-03-01 07:24] kenglxn commented on #137
thanks for reporting and checking this out. I will look into getting the maven central pipeline up again when I have som spare time.

[2021-03-01 07:27] kenglxn commented on #134
please

[2021-03-01 07:27] #134 closed

[2021-03-01 07:28] #132 closed

[2021-03-01 07:29] #131 closed

[2021-03-02 08:50] jitpack-io commented on #137
Hi all,

We have now restored the previous versions of core-2.6.0.jar and android-2.6.0-sources.jar so the checksums should be matching. In January we had a user asking why QRGen is not available and we had trouble accessing our long term object storage (like S3). The quickest way was to rebuild and that's what we did. It doesn't change the functionality but the downside is that checksums don't ma

[2021-03-02 10:25] kenglxn commented on #137
@jitpack-io thanks for the follow up :)

[2021-03-02 10:25] #137 closed

[2021-04-05 07:43] ligi commented on #137
@jitpack-io did it happen again? Just got this checksum issue:

[code]

[2021-04-11 19:49] sloopsight opened #138 "Does it support iso 18004"
Does it support iso 18004?

[2021-04-13 23:08] dryasbk opened #139 "Java Bitmap not found in QRGen"
Bitmap myBitmap = QRCode.from("www.example.org").bitmap();

In java android studio. bitmap() appear red and state that bitmap is not found

[2021-04-19 23:10] Qirol4006 opened #140 "Qr"

[2021-05-25 12:32] deepak013 opened #141 "For latest gradle versions, to make it work"
build.gradle code should be like this
allprojects {
    repositories {
        google()
        mavenLocal() //very important, will not work without it
        maven { url 'https://www.jitpack.io' }
        jcenter()
    }
}

[2021-06-15 01:41] mhping opened #142 "Upgrade Batik to 1.14 for security"
Hi.
The Batik versions 1.13 and prior have some medium-high CVEs discovered in it.
https://nvd.nist.gov/vuln/detail/CVE-2020-11987
CVE-2019-17566, CVE-2018-8013
https://xmlgraphics.apache.org/security.html

Although i cannot verify if they are exploitable. But i believe it is still very worth upgrading.

[2021-08-19 10:19] MohamedHarmoush commented on #139
@dryasbk  Use the dependency
implementation 'com.github.kenglxn.QRGen:android:2.6.0'
instead of implementation 'com.github.kenglxn.QRGen:javase:2.6.0'

[2021-12-12 02:08] Hanzo96 opened #146 "How can I program QR codes to do certain things?"

[2022-02-10 10:37] pvegh commented on #61
I'm not sure putting the complexity/risk/additional repository to every project is the correct step. I'd like to have dependencies only from maven central.

[2022-05-10 11:54] #142 closed

[2022-06-04 20:04] Mslone24 opened #147 "QR Code Geberator"

[2022-07-18 15:32] philipwhiuk opened #148 "Next release plans"
With the updates to batik etc is there any plan for a patch release?

[2022-08-24 07:27] anandpatole opened #149 "Customization with rounded square"
Hi,
Please provide Customization with rounded square option

[2022-09-08 09:46] wes1993 opened #150 "Cannot compile Project"
I have this error when i try to compile:

Failed to execute goal on project email: Could not resolve dependencies for project cc.server.notifications:email:jar:0.41: Could not find artifact com.github.kenglxn.qrgen:javase:jar:2.2.0 in jitpack.io (https://jitpack.io)

Best Regards
Stefano

[2022-11-23 09:12] kenglxn commented on #148
feel free to make a PR and I will look it over.

[2022-11-23 11:49] Lonzak commented on #148
[Done](https://github.com/kenglxn/QRGen/pull/151)

[2022-11-24 13:28] kenglxn commented on #148
[3.0.0](https://github.com/kenglxn/QRGen/releases/tag/3.0.0) is relased and should be available now
* https://github.com/kenglxn/QRGen/pull/151/
* https://github.com/kenglxn/QRGen/pull/153

[2022-11-24 13:28] #148 closed

[2022-11-24 13:30] #149 closed

[2022-11-24 13:30] kenglxn commented on #147
#wat

[2022-11-24 13:30] #147 closed

[2022-11-24 13:32] kenglxn commented on #146
read the docs

[2022-11-24 13:32] #146 closed

[2022-11-24 13:37] kenglxn commented on #150
fail to reproduce this.

[2022-11-24 13:37] #150 closed

[2022-11-24 13:37] #140 closed

[2022-11-24 13:38] #141 closed

[2022-11-24 13:40] kenglxn commented on #138
this should be a question for zxing, end the answer is no https://stackoverflow.com/a/9030588

[2022-11-24 13:40] #138 closed

[2022-11-24 13:40] #139 closed

[2022-11-24 13:40] #125 closed

[2022-11-28 07:51] DavidR-sevenbel opened #155 "Could not find com.github.kenglxn.QRGen:javase:3.0.0."
Dependabot tried to update us to the newest version of this library (`2.6.0` to `3.0.0`).
This is the full changelog:
[code]

We're now getting an error during compile time.

[code]

It seems that the module `javase` is not available on jitpack.io
This can also be seen here: https://jitpack.io/#kenglxn/QRGen/3.0.0 where no subprojects can be selected, and the recommended gradle include shorthand i

[2022-11-28 18:11] kenglxn commented on #155
Thanks for letting me know. I’ll take a look.

[2022-11-28 18:13] kenglxn commented on #155
May be an issue with java 11. Could you try 2.7.0, which is the same but compiled for java 1.8.
I’ll look into the issue as soon as possible.

[2022-11-28 18:16] kenglxn commented on #155
https://jitpack.io/#kenglxn/qrgen/3.0.0

[2022-11-28 18:53] kenglxn commented on #155
Jitpack builds with java 8 by default, so the 3.0.0 tag was failing build on jitpack, which is why the group id is missing.

I tried retagging and rereleasing the 3.0.0 version, but does not look like that helped the build on jitpack.

I rerelased it as 3.0.1 which should fix the issue. https://jitpack.io/#kenglxn/QRGen/3.0.1

[2022-11-28 20:14] #96 closed

[2022-11-28 20:14] #124 closed

[2022-11-28 20:28] kenglxn commented on #155
3.0.0 is now rebuilt and available

[2022-11-28 20:28] #155 closed

[2022-11-29 12:07] DavidR-sevenbel commented on #155
sorry for the late reply

`3.0.1` looks like it works for us
thanks for the quick fix :+1: